---
http_interactions:
- request:
    method: get
    uri: "<API-URL>/posts/1"
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '997'
      X-Ratelimit-Reset:
      - '1645469977'
      Etag:
      - W/"124-yiKdLzqO5gfBrJFrcdJ8Yq0LGnU"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "userId": 1,
          "id": 1,
          "title": "sunt aut facere repellat provident occaecati excepturi optio reprehenderit",
          "body": "quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto"
        }
  recorded_at: Sun, 06 Mar 2022 00:48:52 GMT
- request:
    method: get
    uri: "<API-URL>/posts/2"
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1646528544'
      Etag:
      - W/"116-jnDuMpjju89+9j7e0BqkdFsVRjs"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "userId": 1,
          "id": 2,
          "title": "qui est esse",
          "body": "est rerum tempore vitae\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\nqui aperiam non debitis possimus qui neque nisi nulla"
        }
  recorded_at: Sun, 06 Mar 2022 01:01:36 GMT
recorded_with: VCR 6.0.0
